<div class="container">
  <h1>Welcome leave a note!</h1>

<br />
<form method="POST" action="/">
  <input type="text" id="note_title" name="title" placeholder="Enter Title">
  <br />
  <br />
  <textarea id="note_description" name="description" placeholder="Enter your description"></textarea>
  <br />
  <br />
  <button>Add Note</button>
</form>

<% @made_notes.each do |notes| %>
<a href="/<%=notes.id%>"><%=notes.title%></a> -
<a href="/<%=notes.id%>/delete">Delete</a>
<br />
<% end %>

</div>
